.product-detail {
    margin-top: 60px;
    margin-bottom: 32px;
}

    .product-detail .details {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 7rem;
    }

    .product-detail .left {
        display: flex;
        flex-direction: column;
    }

        .product-detail .left .main {
            text-align: center;
            background-color: #f6f2f1;
            margin-bottom: 2rem;
            height: 45rem;
            padding: 3rem;
        }

            .product-detail .left .main img {
                object-fit: contain;
                height: 100%;
            }

    .product-detail .thumbnails {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .product-detail .thumbnail {
        width: 10rem;
        height: 10rem;
        background-color: #f6f2f1;
        text-align: center;
    }

        .product-detail .thumbnail img {
            height: 100%;
            object-fit: contain;
        }

    .product-detail .right h2 {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .product-detail .right .price {
        font-weight: 600;
        font-size: 2rem;
        color: #ff7c9c;
        margin-bottom: 2rem;
    }

    .product-detail .right div {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .product-detail .right .form .inputInfo {
        font-family: "Poppins", sans-serif;
        width: 20rem;
        padding: 0.8rem;
        border: 1px solid #ccc;
        outline: none;
        margin-bottom: 8px;
        border-radius: 10px;
    }

    .product-detail .form {
        margin-bottom: 2rem;
    }

        .product-detail .form span {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            font-size: 2rem;
            z-index: 0;
        }

    .product-detail .form {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

        .product-detail .form .btn-action-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin-top: 16px;
        }

.form .btn-action-detail .addCart {
    background: #68c92c;
    padding: 0.8rem 4rem;
    width: 100%;
    color: #fff;
    border-radius: 3rem;
    margin-bottom: 8px;
    text-decoration: none;
}

.product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}