.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 16px 0;
}

.slider {
    position: relative;
    background: #000116;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgb(102, 196, 39);
}

    .slider .slide-item {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 0 50%);
    }

        .slider .slide-item.active {
            clip-path: circle(150% at 50% 50%);
            transition: 1.5s;
        }

        .slider .slide-item img {
            position: absolute;
            left: 50%;
            width: 50%;
            height: 100%;
            object-fit: cover;
        }

        .slider .slide-item .infor {
            position: absolute;
            padding: 1rem;
            top: 5%;
            left: 5%;
            width: 40%;
            border: 1 solid #ccc;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
        }

            .slider .slide-item .infor h1 {
                font-size: 2em;
                font-weight: 800;
            }

    .slider .slide .info p {
        font-size: 1em;
        font-weight: 400;
    }

    .slider .navigation {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: calc(50% - 2em);
        opacity: 0;
        transition: 0.5s ease-out;
    }

    .slider:hover .navigation {
        opacity: 0.8;
    }

.prev-btn, .next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(168, 162, 162, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.next-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

    .navigation-visibility .slide-icon {
        z-index: 999;
        background: rgba(88, 75, 75, 0.5);
        width: 20px;
        height: 10px;
        transform: translateY(-20px);
        margin: 0 6px;
        border-radius: 2px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

        .navigation-visibility .slide-icon.active {
            background: #4285F4;
        }

.new-product {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

    .new-product .title {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }

    .new-product .list-product {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

        .new-product .list-product .product {
            width: 18%;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-bottom: 16px;
            margin-left: 1.5%;
            border-radius: 10px;
        }

.list-product .product .product-header {
    position: relative;
    margin-bottom: 8px;
}

    .list-product .product .product-header > img {
        width: 100%;
        object-fit: contain;
        cursor: pointer;
    }

.product:hover .action-button {
    opacity: 1;
    transition: 1.5s;
    z-index: 5;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.list-product .product:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.product .product-header .icons {
    position: absolute;
    bottom: 0;
    left: 8px;
    font-size: 20px;
}

.product-header .action-button {
    position: absolute;
    right: 25%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    opacity: 0;
}

    .product-header .action-button > a {
        width: 100%;
        text-decoration: none;
        color: white;
        margin-top: 8px;
        background: #443f3f;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
    }

.action-button > a:hover {
    background-color: #141212;
}

.product .product-footer > a {
    text-decoration: none;
    color: #191717;
    margin-left: 8px;
}

.product-footer .infor-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 8px;
}