
@{
    ViewData["Title"] = "Detail Product";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
<link href="~/css/product/productDetail.css" rel="stylesheet" />
<link href="~/css/home/index.css" rel="stylesheet" />
<div class="product-detail">
    <div class="details container-md">
        <div class="left">
            <div class="main">
                <img src="https://media.nastygal.com/i/nastygal/agg16976_multi_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
            </div>
            <div class="thumbnails">
                <div class="thumbnail">
                    <img src="https://media.nastygal.com/i/nastygal/agg17062_ecru_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                </div>
                <div class="thumbnail">
                    <img src="https://media.nastygal.com/i/nastygal/agg17870_olive_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                </div>
                <div class="thumbnail">
                    <img src="https://media.nastygal.com/i/nastygal/agg12825_beige_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                </div>
                <div class="thumbnail">
                    <img src="https://media.nastygal.com/i/nastygal/agg16968_lime_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Ribbed Racerback High Leg Bodysuit</h2>
            <div class="price">Price: $50</div>
            <form class="form">
                <div>
                    <select class="inputInfo">
                        <option value="Select Size" selected disabled>Select Size</option>
                        <option value="1">32</option>
                        <option value="2">42</option>
                        <option value="3">52</option>
                        <option value="4">62</option>
                    </select>
                    <span><i class='bx bx-chevron-down'></i></span>
                </div>
                <input type="text" placeholder="Numer want to buy" class="inputInfo" />
                <div class="btn-action-detail">
                    <a href="#" class="addCart">Add To Cart</a> 
                    <a href="#" class="addCart">Buy Now</a>
                </div>
            </form>

            
         
            <h3>Product Detail</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima delectus nulla voluptates nesciunt
                quidem laudantium, quisquam voluptas facilis dicta in explicabo, laboriosam ipsam suscipit!
            </p>
        </div>
    </div>
</div>

<div class="new-product">
    <div class="title">
        <h1>Related Product</h1>
    </div>
    <div class="list-product">
        <div class="product">
            <div class="product-header">
                <img src="https://media.nastygal.com/i/nastygal/agg49152_sage_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                <div class="icons">
                    <i class="far fa-heart"></i>
                </div>
                <div class="action-button">
                    <a href="#">Buy Now</a>
                    <a href="#">Add To Cart</a>
                </div>
            </div>
            <div class="product-footer">
                <a asp-area="" asp-controller="Product" asp-action="ProductDetail">
                    Ribbed Racerback
                </a>
                <div class="infor-product">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h4 class="price">$50</h4>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-header">
                <img src="https://media.nastygal.com/i/nastygal/agg49152_sage_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                <div class="icons">
                    <i class="far fa-heart"></i>
                </div>
                <div class="action-button">
                    <a href="#">Buy Now</a>
                    <a href="#">Add To Cart</a>
                </div>
            </div>
            <div class="product-footer">
                <a href="#">
                    Ribbed Racerback High Leg Bodysuit
                </a>
                <div class="infor-product">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h4 class="price">$50</h4>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-header">
                <img src="https://media.nastygal.com/i/nastygal/agg49152_sage_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                <div class="icons">
                    <i class="far fa-heart"></i>
                </div>
                <div class="action-button">
                    <a href="#">Buy Now</a>
                    <a href="#">Add To Cart</a>
                </div>
            </div>
            <div class="product-footer">
                <a href="#">
                    Ribbed Racerback High Leg Bodysuit
                </a>
                <div class="infor-product">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h4 class="price">$50</h4>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-header">
                <img src="https://media.nastygal.com/i/nastygal/agg49152_sage_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                <div class="icons">
                    <i class="far fa-heart"></i>
                </div>
                <div class="action-button">
                    <a href="#">Buy Now</a>
                    <a href="#">Add To Cart</a>
                </div>
            </div>
            <div class="product-footer">
                <a href="#">
                    Ribbed Racerback High Leg Bodysuit
                </a>
                <div class="infor-product">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h4 class="price">$50</h4>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-header">
                <img src="https://media.nastygal.com/i/nastygal/agg49152_sage_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto" alt="">
                <div class="icons">
                    <i class="far fa-heart"></i>
                </div>
                <div class="action-button">
                    <a href="#">Buy Now</a>
                    <a href="#">Add To Cart</a>
                </div>
            </div>
            <div class="product-footer">
                <a href="#">
                    Ribbed Racerback High Leg Bodysuit
                </a>
                <div class="infor-product">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h4 class="price">$50</h4>
                </div>
            </div>
        </div>
    </div>
</div>