@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign Up";
}
<link href="~/css/SignUp.css" rel="stylesheet" />

<div class="register">
    <span class="registerTitle">Register</span>
    <form class="registerForm">
        <label>Username</label>
        <input class="registerInput"
               type="text"
               placeholder="Enter your username..." />
        <label>Email</label>
        <input class="registerInput"
               type="text"
               placeholder="Enter your email..." />
        <label>Password</label>
        <input class="registerInput"
               type="password"
               placeholder="Enter your password..." />
        <label>Confirm Password</label>
        <input class="registerInput"
               type="password"
               placeholder="Confirm your password..." />
        <button class="registerButton"  type="submit">Register</button>
        <p>You are have a account ?
            <a class="registerLoginButton"  asp-area="" asp-controller="LoginLogout" asp-action="Login">
                Login
            </a>
        </p>
        
    </form>
</div>