<h1>Chi tiết mã khuyến mãi</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3 justify-content-center">
        <img src="" class="img-fluid border" />
        <hr />
    </div>
    <div class="col-md-5">
        <dl class="row">
            <dt class="col-sm-4">
                Mã Khuyến Mãi
            </dt>
            <dd class="col-sm-8">
                123456
            </dd>
            <dt class="col-sm-4">
                Tên Mã
            </dt>
            <dd class="col-sm-8">
                Khuyến mãi 12 tháng 12
            </dd>
            <dt class="col-sm-4">
                Mức Khuyến Mãi
            </dt>
            <dd class="col-sm-8">
                20%
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <table class=" table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="text-align:center">Đối Tượng Áp Dụng</th>
                    <th scope="col" style="text-align:center">Ngày Áp Dụng</th>
                    <th scope="col" style="text-align:center">Ngày Hết Hạn</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle" align="center">Mọi khách hàng</td>
                    <td class="align-middle" align="center">12/12/2021</td>
                    <td class="align-middle" align="center">13/12/2021</td>
                </tr>}
            </tbody>
        </table>
    </div>
</div>
<hr />