@{
    ViewData["Title"] = "Create Item";
}

<link href="~/css/admin/createItem.css" rel="stylesheet" />

<div class="create-container">
    <h1 class="create-title">Create Item</h1>

    <form class="form-create">
        <div class="form-group">
            <label for="formGroupExampleInput">Name Item</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="T-shirt">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Image Item</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-row">
            <div class="col">
                <label for="exampleFormControlFile1">Price</label>
                <input type="text" class="form-control" placeholder="100.000VND" id="exampleFormControlFile1">
            </div>
            <div class="col">
                <label for="exampleFormControlFile1">Discount</label>
                <input type="text" class="form-control" placeholder="10%" id="exampleFormControlFile1">
            </div>
        </div>
        <div class="form-group mt-4">
            <label for="exampleFormControlTextarea1">Description about Item</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2 mt-4 btn-create">Create</button>
    </form>
</div>

