@model ClothingShop.Entity.Models.ProductViewModels


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name_Product" class="control-label"></label>
                <input asp-for="Name_Product" class="form-control" />
                <span asp-validation-for="Name_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated_Product" class="control-label"></label>
                <input asp-for="DateCreated_Product" class="form-control" />
                <span asp-validation-for="DateCreated_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type_Product" class="control-label"></label>
                <input asp-for="Type_Product" class="form-control" />
                <span asp-validation-for="Type_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_Product" class="control-label"></label>
                <input asp-for="Price_Product" class="form-control" />
                <span asp-validation-for="Price_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
